<div id="<%= dom_id engine %>">
  <p>
    <strong>Type:</strong>
    <%= engine.engine_type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= engine.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= engine.description %>
  </p>

</div>
