  <div class="container mt-5">
        <h1 class="text-center">¡Bienvenido a JetMaintain!</h1>
        <p class="text-center">La plataforma líder en mantenimiento de motores de aeronaves.</p>
        <hr>
        <p>JetMaintain te ofrece una experiencia única para el mantenimiento de tus motores de aeronaves. Con nuestras herramientas avanzadas y servicios de alta calidad, podrás mantener tus motores en óptimas condiciones de manera eficiente y segura.</p>
        <p>Estamos comprometidos a brindarte la mejor experiencia y a garantizar la seguridad de tus datos. Si tienes alguna pregunta o necesitas ayuda, no dudes en ponerte en contacto con nuestro equipo de soporte.</p>
        <p>¡Gracias por confiar en JetMaintain para tus necesidades de mantenimiento de motores! ¡Empecemos a volar alto juntos!</p>
        <p><%= link_to 'Iniciar sesión', new_user_session_path %> o <%= link_to 'Registro', new_user_registration_path%>   para comenzar.</p>
    </div>